.body {
  background: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='inc/images/card.png', sizingMethod='scale');
}

#wavesback {
  background: none;
  background: url(../images/waves-back.gif) repeat-x;
}
#wavesfront {
  background: none;
  background: url(../images/waves-front.gif) repeat-x -30px 0;
}
#boat {
  background: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='inc/images/boat.png', sizingMethod='scale');
}

.cloud1 {
  background: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='inc/images/cloud1.png', sizingMethod='scale');
}
.cloud2 {
  background: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='inc/images/cloud2.png', sizingMethod='scale');
}
.cloud3 {
  background: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='inc/images/cloud3.png', sizingMethod='scale');
}
.pic {
	display: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='inc/images/pic.png', sizingMethod='scale');
}